@using AppDevTest.Models
@{
    ViewBag.Title = "MVC Calculator";
}
<p>Implement a very basic calculator that submits data to the server, performs calculation on the server and displays the result.</p>

<ul>
    <li>Calculation must be done server-side</li>
    <li>Create whatever models and/or controller actions you need</li>
    <li>Make sure inputs preserve submitted values</li>
    <li>Add meaningful validation so that aplication does not crash on bad inputs</li>
    <li>Try to not refresh the entire screen too much</li>
</ul>

<hr />

@Html.Partial("Calc", new MvcCalculatorModel())

