@{
	ViewBag.Title = "Home";
}

<h2>Implement <code>NonRepeatingCharProvider</code> class</h2>

<p>The goal is to implement the method returning <strong>first non-repeating</strong> character from the given string. For instance in the string <code>"abbacbda"</code>, index of the first non-repeating character is <code>4</code>.</p>

<ul>
	<li>Write your implementation in <code>Business/NonRepeatingCharProvider.cs</code></li>
	<li>Run and test your code using UnitTests project.</li>
	<li>We strongly urge you to begin by writing additional unit tests before you begin implementation work. Cover edge cases.</li>
	<li>Do <strong>not</strong> use Linq. We're expecting plain C# code.</li>
	<li>Try to make your code run in less than <code>O(n<sup>2</sup>)</code>.</li>
</ul>
