@{
	ViewBag.Title = "SQL Queries";
}

<p>Implement SQL queries to given specification</p>

<hr/>
<p>Select all employees ordered by full name. Columns: Employee ID and Full Name.</p>
@Html.Action("AllEmployees")

<hr />
<p>Select all Orders shipped to London for each customer. Columns: Company name, Order ID, Order date.</p>
@Html.Action("OrdersShippedToLondon")

<hr />
<p>Select most recent orders for each customer. Columns: Company name, Last Order Date</p>
@Html.Action("RecentOrders")

<hr />
<p>Select the last three orders for each customer that have ever ordered <i>"Chocolade"</i>. Columns: Company name, Order Date, Total quantity ordered, Total dollars spent</p>
@Html.Action("SweetToothCustomers")

