@{
	ViewBag.Title = "MVC / HTTP";
}

<p>Sumbit data to the server over HTTP POST, calculate the result and display it.</p>

<ul>
	<li>Calculation must be done server-side.</li>
	<li>Create whatever models and/or controller actions you need.</li>
	<li>Make sure inputs preserve submitted values after page is reloaded.</li>
	<li>Do not worry about validation.</li>
</ul>

<hr />

<form method="post">
	<p>
		<input name="Value1" placeholder="first value" />
		<select name="Operation">
			<option>Plus</option>
			<option>Multiply</option>
			<option>Power</option>
		</select>
		<input name="Value2" placeholder="second value" />
	</p>
	<p>
		Result:
	</p>
	<button type="submit">Calculate</button>
</form>

