@{
	ViewBag.Title = "Product Rating";
}

<p>Implement a 5 star product rating widget.</p>

<ul>
	<li>Make it look like Amazon or Ebay product rating (5 stars in a row)</li>
	<li>Initially display value of 3.3 / 5</li>
	<li>Make control change it's value on click
		<ul><li>I.e. if user clicks on the second start, change display value to 2 / 5</li></ul></li>
	<li>You can use jQuery.</li>
</ul>

<hr/>

<p>Use following sprite: <img src="~/Content/stars.png" /></p>

@section scripts {
	<script>

	</script>
}
