@{
	ViewBag.Title = "Product Rating";
}

<p>Implement a 5 star product rating widget.</p>

<ul>
	<li>Make it look like Amazon or Ebay product rating (5 stars in a row)</li>
	<li>Initially display value of 3.33 / 5, so that 3 stars display filled and 4th star is 33% filled</li>
	<li>Make control change it's value on click
		<ul>
			<li>I.e. if user clicks on the second star, change display value to 2 / 5</li>
			<li>No need to support partial star values for this</li>
		</ul>
	</li>
	<li>You can use jQuery</li>
</ul>

<hr/>

<p>Use following sprite: <img src="~/Content/stars.png" /></p>

@section scripts {
	<script>

	</script>
}
