@{
	ViewBag.Title = "Home";
}

<h2>About this test</h2>

<ul>
	<li>This test is targeted at applicants considered for Application Developer positions.</li>
	<li>The goal of this test is twofold:
		<ul>
			<li>for us to assess your core coding skills</li>
			<li>for you to prepare for the actual test and to brush up on the technology involved</li>
		</ul>
	</li>
	<li>You will need to complete this test on your own time, in the comfort of your home. We will not be monitoring you in any way.</li>
	<li>You may cheat. You make look for answers online. You may ask your friend to complete it for you. You can do all that, but if you can't complete this test yourself, you will <strong>NOT pass</strong> the face-to-face interview.</li>
	<li>This test, and any work you may do to complete it, will be keept for our records.</li>
	<li>This test is not a substitution for face-to-face interview. It is merely a part of screening process. Completing this test does not guarantee a job offer.</li>
</ul>

<h2>Good luck!</h2>

