@{
	ViewBag.Title = "Home";
}

<h2>About this test</h2>

<ul>
	<li>This test is targeted at applicants considered for Application Developer positions.</li>
	<li>The goal of this test is to confirm working knowledge of the basics of the technologies employed by Ceridian Dayforce.</li>
	<li>The coding portion is only the first part of this test. Applicant will be expected to do a code review with the attending interviewer and explain hows and whys.</li>
	<li>Applicant will be expected to not use any external resources during this test.</li>
	<li>Interviewer may alter some tasks or add requirements if they feel it is necessary.</li>
	<li>The time to complete this test is expected to be no more than an hour. Additional time may be granted by the interviewer if enough progress was made.</li>
	<li>This test and any work you may do to complete it is a property of Ceridian Dayforce. We will keep it for our records.</li>
</ul>

<h2>Tips to get top results</h2>

<ul>
	<li>Ask questions. If you know what you want to achieve, but don't remember specific APIs, interviewer will be able to help you.</li>
	<li>Avoid getting blocked on a single problem. If you don't know how to solve it, move to the next one.</li>
	<li>Good luck!</li>
</ul>
