@{
	ViewBag.Title = "Form Design";
}

<p>Create a clean, professionally looking form. You may use <a href="@Url.Content("~/Content/sample_form.png")" target="_new">this mockup</a> as a general guideline, but you don't have to.</p>

<ul>
	<li>This form does not need to be functional, but it has to look good.</li>
	<li>There is no single right correct way of implementing this. Do your best.</li>
	<li>You may add or rearrange markup in any way you see fit.</li>
	<li>Use <code>Content/form.css</code> to store any CSS you may need.</li>
	<li>Both CSS skill and usability are important to us.</li>
	<li>Try to make this form <i>responsive</i>.</li>
</ul>

<hr/>

<form method="post">
	
	First Name <input type="text" />
	
	Last Name <input type="text" />
	
	Title <select>
		<option>Mr.</option>
		<option>Mrs.</option>
		<option>Other</option>
	</select>

	Address <input type="text" />

	City <input type="text" />

	Province <input type="text" />

	Postal Code <input type="text" />

	E-mail <input type="text" />

	Phone Number <input type="text" />

	Extension <input type="text" />

	<button type="submit">Submit</button>

</form>

