@{
	ViewBag.Title = "Unique char finder";
}

<h2>Implement <code>UniqueCharProvider</code> class</h2>

<p>The goal is to implement the method returning <strong>first unique</strong> character from string given as input. For instance in the string <code>"abbacbda"</code> there are two unique characters (<code>c</code> and <code>d</code>), and the index of the first one is <code>4</code>.</p>

<p>
	<strong>Unique</strong> character is defined as a character that occurs once and only once within a string.
</p>

<ul>
	<li>Write your implementation in <code>Business/UniqueCharProvider.cs</code></li>
	<li>Run and test your code using UnitTests project.</li>
	<li>We strongly urge you to begin by writing additional unit tests before you begin implementation work. Cover edge cases.</li>
	<li>Do <strong>not</strong> use Linq. We're expecting plain C# code.</li>
	<li>Try to make your solution's code complexity less than <code>O(n<sup>2</sup>)</code>.</li>
</ul>
