@{
	ViewBag.Title = "MVC / HTTP";
}

<p>Calculate expression on the client-side and display the result.</p>

<ul>
	<li>Avoid sending data to the server</li>
	<li>Calculation must be done using Javascript</li>
	<li>You can use jQuery</li>
	<li>Do not worry about validation.</li>
</ul>


<form method="post">
	<p>
		<input name="Value1" placeholder="first value" />
		<select name="Operation">
			<option>Plus</option>
			<option>Multiply</option>
			<option>Power</option>
		</select>
		<input name="Value2" placeholder="second value" />
	</p>
	<p>
		Result:
	</p>
	<button type="submit">Calculate</button>
</form>

@section scripts {
	<script>

	</script>
}
