@{
	ViewBag.Title = "HTML / CSS";
}

<p>Create a clean, professionally looking form UI</p>

<ul>
	<li>This form doesn't need to be functional, but it has to look good.</li>
	<li>There is no single right answer. Do your best.</li>
	<li>You can add and rearrange markup in any way you see fit.</li>
	<li>You can use <code>Content/form.css</code> to store any CSS you may need.</li>
	<li>Both CSS skill and general usability are important to us.</li>
</ul>

<hr/>

<form method="post">
	
	First Name: <input type="text" />
	
	Last Name: <input type="text" />
	
	Title: <select>
		<option>Mr.</option>
		<option>Mrs.</option>
		<option>Other</option>
	</select>

	Address: <input type="text" />

	City: <input type="text" />

	Province: <input type="text" />

	Postal Code: <input type="text" />

	E-mail: <input type="text" />

	Phone Number: <input type="text" />

	Extension: <input type="text" />

	<button type="submit">Submit</button>

</form>

