.star-filled {
    background: url("../Content/star_filled.png");
    width: 21px;
    height: 20px;
}

.star-empty {
    background: url("../Content/star_empty.png");
    width: 21px;
    height: 20px;
}

.base-rating div {
    float:left;
    overflow: hidden;
    position:relative;
}

.base-rating {
    position: fixed;
}

.rating {
    position: fixed;
    z-index: 999;
}

.rating div {
    float: left;
    overflow: hidden;
    position: relative;
}

code {
	font-size: .8em;
	color: steelblue;
	background-color: #eee;
	padding: 0 .3em;
}

select {
	padding: 1px;
}

table.sql-result {
	margin: 15px 10px;
}

table.sql-result thead td {
	background-color: steelblue;
	color: #fff;
	padding: 5px 10px;
	text-align: center;
	border-right: 1px solid #fff;
}

table.sql-result tbody td {
	padding: 0 5px;
	border-right: 1px solid #ddd;
}

table.sql-result tbody td:last-child {
	border-right: 0;
}

table.sql-result tbody tr:nth-of-type(2n+1) {
	background-color: #eee;
}




svg.bar-chart {
	float: left;
}

svg.bar-chart .blue-bar {
	fill: steelblue;
}

svg.bar-chart .red-bar {
	fill: lightblue;
}

svg.bar-chart .label {
	text-anchor: middle;
	fill: #fff;
}
